.chart-wrapper{
    height: 110%;
}

.card-wrapper{
    width:60vw;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding-left: 5%;
    padding-right: 5%;
}

.card-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 3%;
    padding-right: 3%;
}

Button {
    margin: 5%;
}